@import "vars"
@import "libs"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	overflow-x: hidden
	color: $text
img
	display: block
	max-width: 100%
	height: auto
b, strong
	font-weight: 600
ul, li
	list-style: none
	padding-left: 0
.visually-hidden
	position: absolute
	clip: rect(0 0 0 0)
	width: 1px
	height: 1px
	margin: -1px
.pl
	padding-left: 3.53vw
	+media-breakpoint-down(md)
		padding-left: 0

.header
	background-image: url(../img/header-bg.jpg)
	background-size: cover
	background-position: center top
	background-repeat: no-repeat
	color: #fff
	+media-breakpoint-down(sm)
		background-image: url(../img/header-bg-mob.jpg)
	&-text
		display: flex
		align-items: flex-start
		flex-direction: column
		justify-content: center
		min-height: 655px
		height: 100%
		+media-breakpoint-down(sm)
			min-height: 400px
	&-title
		font-size: 52px
		font-weight: bold
		+media-breakpoint-down(sm)
			font-size: 28px
			margin-bottom: 10px
		+media-breakpoint-down(xs)
			font-size: 25px
	&-logo
		margin-bottom: 30px
	&-subtitle
		max-width: 440px
.no-title
	padding: 2.04vmax 0 5.2vmax
	&-left
		width: 50%
		+media-breakpoint-down(md)
			width: 100%
			margin-bottom: 30px
		ul
			padding-bottom: 1vmax
			padding-top: 1.8vmax
			position: relative
			width: 100%
			margin-bottom: 0
			li
				padding-bottom: 5px
			&:before
				content: ''
				display: block
				width: 300%
				height: 8px
				position: absolute
				bottom: 0
				left: -205%
				background-color: rgba($acc-bl, .5)
			&:after
				content: ''
				display: block
				position: absolute
				bottom: 0
				/*right: 3.8%*/
				left: 94.4%
				width: 0
				height: 0
				border-style: solid
				border-width: 8px 4px 0 4px
				border-color: #fff transparent transparent transparent
			h3
				font-size: 20px
				font-weight: 600
	&-right
		width: 50%
		text-align: center
		+media-breakpoint-down(md)
			width: 100%
		img
			margin: 0 auto
			filter: drop-shadow(20px 40px 111px rgba($text,.24))
			+media-breakpoint-down(md)
				width: 40%

	&-wrap
		display: flex
		align-items: center
		+media-breakpoint-down(md)
			flex-direction: column
			justify-content: center

.no-title-left ul:nth-child(even)
	&:before
		background-color: rgba($acc-rd, .5)

@import "media" // Always at the end
