@import "vars"
@import "libs"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	overflow-x: hidden
	color: $text
img
	display: block
	max-width: 100%
	height: auto
b, strong
	font-weight: 600
ul, li
	list-style: none
	padding-left: 0
.visually-hidden
	position: absolute
	clip: rect(0 0 0 0)
	width: 1px
	height: 1px
	margin: -1px
.pl
	padding-left: 3.53vw
	+media-breakpoint-down(md)
		padding-left: 0
section
	padding-top: 5.2vmax
	h2
		font-size: 25px
		font-weight: bold
		text-align: center
		text-transform: uppercase
		position: relative
		padding-bottom: 1.3vmax
		margin-bottom: 4vmax
		+media-breakpoint-down(xs)
			font-size: 18px
		&:before
			content: ''
			display: block
			width: 75px
			height: 5px	
			background-color: $acc-bl
			position: absolute
			bottom: 0
			left: 50%
			transform: translateX(-50%)

.header
	background-image: url(../img/header-bg.jpg)
	background-size: cover
	background-position: center top
	background-repeat: no-repeat
	color: #fff
	+media-breakpoint-down(sm)
		background-image: url(../img/header-bg-mob.jpg)
	&-text
		display: flex
		align-items: flex-start
		flex-direction: column
		justify-content: center
		height: 34vmax
		+media-breakpoint-down(sm)
			height: 320px
	&-title
		font-size: 52px
		font-weight: bold
		+media-breakpoint-down(sm)
			font-size: 28px
			margin-bottom: 10px
		+media-breakpoint-down(xs)
			font-size: 25px
	&-logo
		margin-bottom: 30px
	&-subtitle
		max-width: 440px
.no-title
	padding: 2.04vmax 0 0
	&-left
		width: 50%
		+media-breakpoint-down(md)
			width: 100%
		ul
			padding-bottom: 1vmax
			padding-top: 1.8vmax
			position: relative
			width: 100%
			margin-bottom: 0
			&:last-child
				margin-bottom: 5.2vmax
			li
				padding-bottom: 5px
				span
					+media-breakpoint-down(sm)
					font-size: 10px
			&:before
				content: ''
				display: block
				width: 300%
				height: 8px
				position: absolute
				bottom: 0
				left: -205%
				background-color: rgba($acc-bl, .5)
			&:after
				content: ''
				display: block
				position: absolute
				bottom: 0
				/*right: 3.8%*/
				left: 94.4%
				width: 0
				height: 0
				border-style: solid
				border-width: 8px 4px 0 4px
				border-color: #fff transparent transparent transparent
			h3
				font-size: 20px
				font-weight: 600
	&-right
		width: 50%
		text-align: center
		+media-breakpoint-down(md)
			width: 100%
		img
			margin: 0 auto
			filter: drop-shadow(20px 40px 111px rgba($text,.24))
			+media-breakpoint-down(md)
				width: 40%

	&-wrap
		display: flex
		align-items: center
		+media-breakpoint-down(md)
			flex-direction: column
			justify-content: center
.line-budget
	background: $gray url(../img/line-bg.png)
	background-size: 52% 100%
	background-position: right top
	background-repeat: no-repeat
	+media-breakpoint-down(md)
		background-size: calc(100% + 30px) 50%
		background-position: left -30px top
		margin-top: 5vmax
	&-wrap
		min-height: 106px
		display: flex
		align-items: center
		+media-breakpoint-down(md)
			flex-direction: column-reverse
			justify-content: space-around
			min-height: 208px
	&-left
		width: 50%
		+media-breakpoint-down(md)
			width: 100%
			text-align: center
		.sum
			font-size: 45px
			font-weight: bold
			span
				font-size: 15px
				font-weight: 600
	&-right
		text-align: center
		width: 50%
		+media-breakpoint-down(md)
			width: 100%
		h3
			font-size: 25px
			font-weight: bold
			text-transform: uppercase
			+media-breakpoint-down(md)
				padding-top: 12px

.no-title-left ul:nth-child(even)
	&:before
		background-color: rgba($acc-rd, .5)

.lecturehall
	&-wrap
		display: flex
		align-items: center
		justify-content: space-between
		+media-breakpoint-down(md)
			flex-direction: column
			justify-content: center
		> ul
			width: 50%
			+media-breakpoint-down(md)
				width: 100%
			> li
				padding-left: 20px
				margin-bottom: 10px
				position: relative
				font-weight: 600
				&:last-child
					margin-bottom: 0
				&:after
					content: ''
					display: block
					width: 7px
					height: 7px
					border-radius: 50%
					background-color: $acc-rd
					position: absolute
					left: 0
					top: 7px
				ul
					margin-top: 10px
					li
						padding-left: 20px
						margin-bottom: 10px
						font-weight: normal
	&-img
		width: 45%
		height: auto
		margin-top: -60px
		+media-breakpoint-down(md)
			margin-top: -10px
			width: 60%

@import "media" // Always at the end
